# Frontend Environment Variables
VITE_APP_URL=https://work-space-nexus.vercel.app
VITE_FIREBASE_API_KEY=AIzaSyD2zW49uvenTS5fyJkSlY9n3vfr-njqct0
VITE_FIREBASE_AUTH_DOMAIN=workspace-nexus-440d8.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=workspace-nexus-440d8
VITE_FIREBASE_STORAGE_BUCKET=workspace-nexus-440d8.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=173572072276
VITE_FIREBASE_APP_ID=1:173572072276:web:3ca7284aeba8c027d15ec1
VITE_FIREBASE_MEASUREMENT_ID=G-MEKSXEN3C1
