VITE_APP_URL=https://work-space-nexus.vercel.app
NODE_ENV=production
PORT=3000
JWT_SECRET=your_secret

VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
